.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background: linear-gradient(0deg, rgba(63, 183, 252, 0.2) 33%, #003855 100%);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: white;
  }
  @keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg)}
  } 

  .load{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
.err-wrap{
padding: 20px;
display: flex;
justify-content: center;
position: fixed;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
width: 80%;
color: rgb(255, 255, 255);
font-size: 24px;
border : 1px solid red;
border-radius: 8px;
background-color: red;
}
.error{
    display: inline;
    margin: 0;
}
.cat-info{
    display: flex;
    flex-direction: column;
    gap:16px;
    justify-content: center;
    align-items: center;
}
.Is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }