
.cat-info{
    margin-top: 20px;
    display: flex;
    gap:16px;
    justify-content: center;
    align-items: center;
}
.cat-info img {
  width: 50%;
}
.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:480px) {
  .cat-info{
    margin-top: 20px;
    display: block;
}
.cat-info img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}
